
.stepperWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid hsl(var(--muted));
    padding: 20px 0;
    margin: 0 auto;
    max-width: 950px;
    border-radius: 10px;
 }
 
 .stepperCircle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    color: hsl(var(--foreground));
    border: 2px solid hsl(var(--foreground));
    font-size: 23px;
    justify-content: center;
    align-items: center;
 }

 .stepperLine{
    width: 80px;
    height: 1px;
    background-color: hsl(var(--foreground));
    margin: 0 8px;
 }
 
 .isActive{
    background-color: hsl(var(--accent));
    border: 3px solid transparent;
 }
 
 .btnWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 50px; */
 }
 
 .btnWrapper > button{
    width: 40%;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
 }